// ========================== FONT FAMILY

$ff_regular 		: 'Poppins-Regular';
$ff_medium			: 'Poppins-Medium';
$ff_bold 			: 'Poppins-Bold';

// ========================== FONT SIZE

$fz_huge			: 24px;
$fz_large			: 18px;
$fz_medium			: 16px;
$fz_normal			: 14px;
$fz_small 			: 12px;

// ========================== COLORS

$color_primary 		: #36482e;
$color_secondary	: #a19f9d;
$color_default 		: #f7f7f7;
$color_dark			: #2a2323;
$color_gray			: #e6e6e6;
$color_danger		: #e54242;
$color_success		: #28db28;
$color_doctor       : #051046;

// ========================== IMAGE PATH

$asset-base-path: '../../assets' !default;