#topbar {
	background: $color_primary;
	padding: 0 15px;

	.row {
		height: 80px;
	}

	.account {
		cursor: pointer;
		
		img {
			width: 35px;
		}
	}

	@media (min-width: 992px) {
		padding: 0 30px;
	}
}