.vvm-theme::after {
	content: '';
    display: block;
    width: 150%;
    position: fixed;
    background: $color_vvm;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: -25%;
    opacity: 0.15;
}

.no-available {
	position: absolute;
	width: calc(100% - 30px);
	max-width: 700px;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%,-50%));

	p {
		line-height: 1.5;
	}
}

.ps__thumb-y {
	background-color: $color_vvm;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y {
	background-color: $color_vvm;
}